<html>

    <head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
	</head>
    <body ng-app="mymodule">
	 Search filter:
	<input type="text" ng-model="mymodule"><br><br>
	  <div ng-controller="mycontroller">
	     <table border="3px">
		 
		      <thead>

                   <tr>
				   
				       <th style="font-size:18px;">Name</th>
					   <th style="font-size:18px;">Gender</th>
					   <th style="font-size:18px;">City</th>
				   
				   
				   </tr>
			  
			  </thead>
			  
			  <tbody>
			  
			     <tr ng-repeat="x in employee | filter:mymodule ">
				    <td style="font-size:18px;">{{x.name | uppercase}}</td>
					<td style="font-size:18px;">{{x.gender | myfilter }}</td>
					 <td style="font-size:18px;">{{x.city | uppercase}}</td> 
				 
			     </tr>
		 
	          </tbody>
	     </table>
	  </div>
	</body>
</html>


<!--Custome Filter-->
<script>
var app=angular.module("mymodule",[])
   
   var filter1=function()
      {
	      return function(gender)
		   {
		      if(gender=="male")
			    {
				   return "m";
				 }
				else
				 {
				    return  "f";
			     }
            }
}
app.filter("myfilter",filter1)			


  var myc=function($scope)
    {
	   var employee=[
	   {name:'deep',gender:'male',city:'idar'},
	   {name:'athrav',gender:'male',city:'surat'},
	   {name:'pooja',gender:'female',city:'kadi'},
	   {name:'vividha',gender:'female',city:'idar'},
	   {name:'kavan',gender:'male',city:'mehsana'},
	   {name:'neha',gender:'female',city:'rajkot'},
	   {name:'bhumi',gender:'female',city:'patan'}
	   ];
	   $scope.employee=employee;
	   
}
app.controller("mycontroller",myc);

</script>